

#div1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 3%;
    background-image: url("../src/assets/contract.png");
}

#div2 {
    position: absolute;
    top:1%;
    left: 90%
}

#div3 {
    color: white;
        position: absolute;
        top: 30%;
        left: 85%;
        background-image: url("../src/assets/contract2.png");
}
